@charset "UTF-8";
:root {
  /* основний колір тексту */
  --primary_text-color: #757575;
  /* колір тексту заголовків */
  --title-text-color: #212121;
  /* основний білий колір*/
  --primary-white-color: #ffffff;
  /* вторичний чорний колір*/
  --secondary-black-color: #000000;
  /* вторичний чорний колір*/
  --secondary-white-color-opacity: rgba(255, 255, 255, 0.6);
  /* колір акценту*/
  --accent_color: #2196f3;
  /* колір фону */
  --primari-bg-color: #f5f5f5;
  --secondary-grey-bg-color: #afb1b8;
  /* колір фону */
  --primari-black-bg-color: #2f303a;
  /* вторичний білий колір фону */
  --secondary-bg-color: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --size-mobile: 480px;
  --size-tablets: 768px;
  --size-pc: 1200px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}

textarea {
  resize: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  border-radius: 4px;
  border: 0;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent_color);
}
.logo--black {
  color: var(--secondary-black-color);
}
.logo--white {
  color: var(--primary-white-color);
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    letter-spacing: 0.06em;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.current {
  color: var(--accent_color);
  fill: var(--accent_color);
}
.current::after {
  content: "";
  position: absolute;
  bottom: 4px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent_color);
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc-list__items {
  width: 44px;
  height: 44px;
}
.soc-list__items:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent_color);
  color: var(--primary-white-color);
}

.soc-list__link--color {
  color: var(--primary_text-color);
  background-color: var(--primary-white-color);
}
.soc-list__link--color:hover, .soc-list__link--color:focus {
  background-color: var(--accent_color);
  color: var(--primary-white-color);
}

.soc-list__icons {
  fill: currentColor;
}

.menu-button {
  position: absolute;
  right: 15px;
  top: 20px;
  display: block;
  padding: 0;
  border: 0;
  background: transparent;
}
@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: left 300ms, visibility 300ms;
  transition: left 300ms, visibility 300ms;
}
.mobile-menu .container {
  display: block;
  height: 100%;
  padding: 48px 0px 48px 40px;
}
.mobile-menu .is-hidden {
  left: -100px;
  right: auto;
}
.mobile-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-menu .mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media (min-width: 480px) {
  .mobile-menu {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu-open {
  position: absolute;
  right: 15px;
  top: -5px;
  display: block;
  padding: 0;
  border: 0;
  background: transparent;
}
@media (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
.menu-close {
  position: absolute;
  right: 0px;
  top: 10px;
  display: block;
  margin-left: auto;
  margin-right: 0;
  border: none;
  background: rgba(255, 17, 17, 0);
}
@media (min-width: 768px) {
  .menu-close {
    display: none;
  }
}

.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent_color);
}

.mob-auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-top: 200px;
}

.mob-auth-nav__tel,
.mob-auth-nav__mail {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--primary_text-color);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.mob-auth-nav__tel:hover, .mob-auth-nav__tel:focus,
.mob-auth-nav__mail:hover,
.mob-auth-nav__mail:focus {
  color: var(--accent_color);
  fill: var(--accent_color);
}

.mob-auth-nav__tel {
  color: var(--accent_color);
}

.mob-auth-nav__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.mob-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mob-soc-list__items {
  padding: 0px 10px 0px 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-list__items:first-child {
  padding: 0px 10px 0px 0px;
}
.mob-soc-list__items:last-child {
  border-right: none;
}

.mob-soc-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent_color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.mob-soc-list__link:hover, .mob-soc-list__link:focus {
  color: var(--primary_text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.property__items.property-icons4::before, .property__items.property-icons3::before, .property__items.property-icons2::before, .property__items.property-icons1::before {
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* ------HEADER-------- */
.header {
  background: var(--primary-white-color);
  border: 1px solid #ececec;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 480px) {
  header .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  header .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  header .container {
    width: 1200px;
  }
}

@media (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
  }
}

.header__nav {
  display: none;
}
.header__nav li {
  margin-right: 50px;
}
.header__nav li:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    margin-right: 225px;
  }
}

.header__auth-nav {
  display: none;
  margin: 21px 0;
}
@media (min-width: 768px) {
  .header__auth-nav {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .header__auth-nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  height: 10px;
  width: 12px;
}
.auth-nav__icon--size {
  height: 16px;
  width: 12px;
}

.header__link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.header__link:hover, .header__link:focus {
  color: var(--accent_color);
}

.auth-nav__items:nth-child(1) {
  margin-bottom: 10px;
}

.auth-nav__link {
  color: var(--primary_text-color);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent_color);
  fill: var(--accent_color);
}

.auth-nav {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-auth-items svg,
.header-auth-items span {
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.header-auth-items svg:hover svg, .header-auth-items svg:focus span,
.header-auth-items span:hover svg,
.header-auth-items span:focus span {
  color: var(--accent_color);
  fill: var(--accent_color);
}

/* ------ HERO -------- */
body {
  max-width: 1600px;
}

.hero {
  background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg_mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(47, 48, 58, 0.4);
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg_mob-2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg_tab.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg_tab-2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg.jpg");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg-2x.jpg");
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent_color);
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: block;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.hero__btn:hover, .hero__btn:focus {
  background: #188ce8;
}

/* ------ PROPERTY -------- */
.property {
  padding: 60px 0 30px 0;
}
@media (min-width: 1200px) {
  .property {
    padding: 94px 0;
  }
}

.container .property__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .property__list {
    margin-bottom: -30px;
  }
}

.property__items {
  width: 100%;
  margin-bottom: 30px;
}
.property__items::before {
  display: block;
  content: "";
  height: 120px;
  background: var(--secondary-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}
.property__items.property-icons1::before {
  background-image: url("../images/antenna.svg");
}
.property__items.property-icons2::before {
  background-image: url("../images/clock.svg");
}
.property__items.property-icons3::before {
  background-image: url("../images/diagram.svg");
}
.property__items.property-icons4::before {
  background-image: url("../images/astronaut.svg");
}
@media (min-width: 480px) {
  .property__items {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .property__items {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
  .property__items:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .property__items {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .property__items:nth-child(n) {
    margin-right: 30px;
  }
  .property__items:last-child {
    margin-right: 0px;
  }
}

.property__pre-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .property__pre-title {
    text-align: start;
  }
}

.property__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary_text-color);
}

/* ------OUR WORK-------- */
.our-work {
  padding-bottom: 94px;
  display: none;
}
@media (min-width: 1200px) {
  .our-work {
    display: block;
  }
}

.our-work__title {
  margin-bottom: 50px;
}

.our-work .our-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.our-work__ites-wraper {
  position: relative;
}

.our-work__items-label {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* ------OUR TEAM-------- */
.our-team {
  background: var(--secondary-bg-color);
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .our-team {
    padding: 94px 0;
  }
}

.our-team__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .our-team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.our-team .our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .our-team .our-team__list {
    margin-bottom: -30px;
  }
}

.our-team__items {
  background: var(--primary-white-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  .our-team__items {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .our-team__items {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .our-team__items:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .our-team__items {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .our-team__items:nth-child(n) {
    margin-right: 30px;
  }
  .our-team__items:last-child {
    margin-right: 0px;
  }
}

.our-team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 10px;
}

.our-team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary_text-color);
}

.soc-list descr {
  padding-top: 30px;
  padding-bottom: 16px;
}

.our-team .soc-list__icons {
  fill: var(--secondary-grey-bg-color);
}

.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-team__list .descr {
  padding-top: 30px;
  padding-bottom: 16px;
}

.our-team__soc-link .our-team__soc-icons {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.our-team__soc-link .our-team__soc-icons:hover .our-team-soc-icons, .our-team__soc-link .our-team__soc-icons:focus .our-team-soc-icons {
  fill: var(--primary-white-color);
}

/* ------ FOOTER -------- */
.footer {
  background: var(--primari-black-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item1,
.item2,
.item3 {
  margin: 0 auto;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address__items {
  padding-bottom: 9px;
}
.address__items:last-child {
  padding-bottom: 0;
}

.address__method {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color-opacity);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.address__method:hover, .address__method:focus {
  color: var(--accent_color);
}
.address__method--white {
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
}

.footer__title {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footer__list-items.item1 {
  display: inline-block;
  width: 480px;
  text-align: center;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .footer__list-items.item1 {
    height: 132px;
    width: 231px;
  }
}
@media (min-width: 1200px) {
  .footer__list-items.item1 {
    text-align: start;
  }
}
.footer__list-items.item2 {
  display: inline-block;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__list-items.item2 {
    text-align: start;
  }
}
.footer__list-items.item3 {
  padding-top: 60px;
  display: inline-block;
  width: 450px;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__list-items.item3 {
    width: 600px;
    padding-top: 0px;
    text-align: start;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  display: block;
}

.footer-mail-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  padding: 16px;
  color: var(--primary-white-color);
}
.footer-mail-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-white-color-opacity);
}
.footer-mail-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-white-color-opacity);
}
.footer-mail-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-white-color-opacity);
}
.footer-mail-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-white-color-opacity);
}
.footer-mail-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-white-color-opacity);
}
@media (min-width: 1200px) {
  .footer-mail-input {
    width: 358px;
  }
}

.wraper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background: var(--accent_color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-mail-btn {
  color: var(--primary-white-color);
  background: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.footer-mail-icons {
  fill: var(--primary-white-color);
}

.footer-mail-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ------ FILTERS -------- */
.portfolio__items:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--secondary-bg-color);
  padding: 6px 25px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--primary-white-color);
  background: var(--accent_color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------PORTFOLIO  -------- */
.portfolio {
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.container .portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 406px;
  margin-bottom: 40px;
}
@media (min-width: 480px) {
  .container .portfolio__nav {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container .portfolio__nav {
    margin-bottom: 14px;
    width: 768px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .container .portfolio__nav {
    margin-bottom: 34px;
  }
}

/* ------ CUSTOMER -------- */
.customer {
  padding: 60px 0 60px 0;
}
@media (min-width: 1200px) {
  .customer {
    padding: 94px 0;
  }
}

.customer__title {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .customer__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}

.customer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -30px;
}
@media (min-width: 480px) {
  .customer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.customer__icons {
  fill: currentColor;
}

.customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid var(--secondary-grey-bg-color);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-grey-bg-color);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media (min-width: 768px) {
  .customer__link {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .customer__link {
    width: 170px;
  }
}
.customer__link:hover, .customer__link:focus {
  border: 1px solid var(--accent_color);
}
.customer__link:hover .customer__icons, .customer__link:focus .customer__icons {
  fill: var(--accent_color);
}

.customer__items {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 210px;
}
@media (min-width: 480px) {
  .customer__items {
    -ms-flex-preferred-size: 204px;
        flex-basis: 204px;
    width: 210px;
    margin-right: 30px;
  }
  .customer__items:nth-child(2n) {
    margin-right: 0px;
  }
}
@media (min-width: 768px) {
  .customer__items {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    width: 226px;
    margin-right: 30px;
  }
  .customer__items:nth-child(2n) {
    margin-right: 30px;
  }
  .customer__items:nth-child(3n) {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .customer__items {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
    width: 170px;
  }
  .customer__items:nth-child(n) {
    margin-right: 30px;
  }
  .customer__items:last-child {
    margin-right: 0px;
  }
}

.customer__link .customer__icons {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.customer__icons.icon {
  height: 60px;
  width: 106px;
}

/* ------ PROJECT -------- */
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project__items {
  border: 1px solid #eeeeee;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  .project__items {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .project__items {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .project__items:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .project__items {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .project__items:nth-child(3n) {
    margin-right: 0;
  }
  .project__items:hover {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary_text-color);
}

.project__descr {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-left: 24px;
}

.project__items:hover .project__item-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__img-wrap {
  position: relative;
  overflow: hidden;
}

.project__item-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: var(--accent_color);
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  overflow: auto;
}
.project__item-text::-webkit-scrollbar {
  width: 0.7em;
  border-radius: 0.35em;
}
.project__item-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.project__item-text::-webkit-scrollbar-thumb {
  background-color: var(--primary_text-color);
  border-radius: 0.35em;
}

/* ------ MODAL WINDOWS -------- */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(50, 50, 50, 0.5);
  -webkit-transition: opacity 300ms linear, visibility 300ms linear;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  width: 450px;
  height: 609px;
  background: var(--primary-white-color);
  border-radius: 4px;
  padding: 40px;
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translateX(-100px) rotate(90deg) translateY(-500px);
          transform: translateX(-100px) rotate(90deg) translateY(-500px);
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  fill: var(--secondary-black-color);
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.btn-close:hover {
  fill: var(--accent_color);
}

.btn-submit__btn {
  width: 200px;
  height: 50px;
  left: 692px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent_color);
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: block;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.btn-submit__btn:hover, .btn-submit__btn:focus {
  background: #188ce8;
}

.modal__form-list {
  margin-top: 12px;
  margin-bottom: 20px;
  gap: 10px;
}

.modal__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 18px;
}
.modal__form-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal__form-field:hover input, .modal__form-field:focus-within input, .modal__form-field:hover textarea, .modal__form-field:focus-within textarea {
  border: 1px solid var(--accent_color);
}
.modal__form-field textarea {
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.modal__form-field .modal__form-icons {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.modal__form-field input {
  padding-left: 42px;
  margin: 0;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  outline: none;
}
.modal__form-field input[type=checkbox] {
  height: 16px;
}

.modal__form label {
  color: var(--primary_text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal__form-label {
  position: absolute;
  top: 0;
  left: 0;
}

.modal__form-icons {
  position: absolute;
  top: 50%;
  margin: 0 12px;
  fill: var(--title-text-color);
}

.modal__form-field:hover .modal__form-icons,
.modal__form-field:focus-within .modal__form-icons {
  fill: var(--accent_color);
}

.textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}
.form-checkbox label {
  position: relative;
}
@media (min-width: 768px) {
  .form-checkbox label {
    font-size: 12px;
    line-height: 1.14;
  }
}
@media (min-width: 1200px) {
  .form-checkbox label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-checkbox__label {
  display: inline-block;
  padding-left: 38px;
}

.form-checkbox__square {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: -2px;
  width: 16px;
  height: 15px;
  background-image: url(../images/delsvg/chech-off.svg);
  background-origin: border-box;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .form-checkbox__square {
    top: 4px;
  }
}

.checkbox:checked + .form-checkbox__square {
  background-image: url(../images/delsvg/chech-on.svg);
  background-repeat: no-repeat;
}

.form-checkbox__link {
  color: var(--accent_color);
  border-bottom: 1px solid var(--accent_color);
}/*# sourceMappingURL=main.css.map */