.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  border-radius: 4px;
  border: 0;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  @include font(24, 700, 28, 0.03);

  color: var(--accent_color);
  &--black {
    color: var(--secondary-black-color);
  }
  &--white {
    color: var(--primary-white-color);
  }
  @include respond-min("phone") {
  }
  @include respond-min("tablets") {
  }
  @include respond-min("pc") {
    @include font(26, 700, 31, 0.06);
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include respond-min("phone") {
    width: 480px; //450 + 15 + 15
  }
  @include respond-min("tablets") {
    width: 768px; //738 + 15 + 15
  }
  @include respond-min("pc") {
    width: 1200px; //1170 + 15 + 15
  }
}

.current {
  color: var(--accent_color);
  fill: var(--accent_color);
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent_color);
    @include respond-min("pc") {
      bottom: 4px;
    }
  }
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__items {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.soc-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover,
  &:focus {
    background-color: var(--accent_color);
    color: var(--primary-white-color);
  }
}
.soc-list__link--color {
  color: var(--primary_text-color);
  background-color: var(--primary-white-color);
  &:hover,
  &:focus {
    background-color: var(--accent_color);
    color: var(--primary-white-color);
  }
}
.soc-list__icons {
  fill: currentColor;
}

.menu-button {
  position: absolute;
  right: 15px;
  top: 20px;
  display: block;
  padding: 0;
  border: 0;
  background: transparent;
  @include respond-min("tablets") {
    display: none;
  }
  @include respond-min("pc") {
  }
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
  right: 0px;
  transition: left 300ms, visibility 300ms;
  & .container {
    display: block;
    height: 100%;
    padding: 48px 0px 48px 40px;
  }
  .is-hidden {
    left: -100px;
    right: auto;
  }
  & .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  & .mobile-menu__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  // @include respond-min("phone") {
  //   width: 480px;
  // }
  @include respond-min("tablets") {
    display: none;
  }
}

.menu-open {
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  padding: 0;
  border: 0;
  background: transparent;
  @include respond-min("tablets") {
    display: none;
  }
  @include respond-min("pc") {
  }
}
.menu-close {
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  margin-left: auto;
  margin-right: 0;
  border: none;
  background: #ff111100;
  @include respond-min("tablets") {
    display: none;
  }
}

.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile-menu__link {
  @include font(40, 500, 47, 0.02);
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover,
  &:focus {
    color: var(--accent_color);
  }
}

.mob-auth-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 200px;
}

.mob-auth-nav__items {
}

.mob-auth-nav__tel,
.mob-auth-nav__mail {
  @include font(34, 500, 40, 0.02);
  color: var(--primary_text-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover,
  &:focus {
    color: var(--accent_color);
    fill: var(--accent_color);
  }
}
.mob-auth-nav__tel {
  color: var(--accent_color);
}
.mob-auth-nav__mail {
  @include font(24, 500, 28, 0.02);
}
.mob-soc-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.mob-soc-list__items {
  padding: 0px 10px 0px 10px;
  &:first-child {
    padding: 0px 10px 0px 0px;
  }
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:last-child {
    border-right: none;
  }
}
.mob-soc-list__link {
  @include font(18, 500, 22, 0.02);
  color: var(--accent_color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover,
  &:focus {
    color: var(--primary_text-color);
  }
}
