:root {
    /* основний колір тексту */
    --primary_text-color: #757575;
    /* колір тексту заголовків */
    --title-text-color: #212121;
    /* основний білий колір*/
    --primary-white-color: #FFFFFF;
    /* вторичний чорний колір*/
    --secondary-black-color: #000000;
    /* вторичний чорний колір*/
    --secondary-white-color-opacity: rgba(255, 255, 255, 0.6);
    /* колір акценту*/
    --accent_color: #2196F3;


    /* колір фону */
    --primari-bg-color: #F5F5F5;
    /* колір фону */
    --primari-black-bg-color: #2F303A;
    /* вторичний білий колір фону */
    --secondary-bg-color: #F5F4FA;

    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}