/* ------HEADER-------- */
.header {
  background: var(--primary-white-color);
  border: 1px solid #ececec;
}

header .container {
  // comp
  // display: flex;
  align-items: baseline;
}

.header__logo {
  margin-right: 92px;
  padding: 24px 0;
}

.header__nav {
  display: none;
  // comp
  // display: flex;
  & li {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.header__auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: none;
  // comp
  // display: flex;
  margin-left: auto;
}

.auth-nav__icon {
  margin-right: 10px;
  height: 10px;
  width: 12px;
  &--size {
    height: 16px;
    width: 12px;
  }
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover,
  &:focus {
    color: var(--accent_color);
  }
}

.auth-nav__items:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__link {
  color: var(--primary_text-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover,
  &:focus {
    color: var(--accent_color);
    fill: var(--accent_color);
  }
}
.auth-nav {
  align-items: baseline;
}
.header-auth-items svg,
.header-auth-items span {
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover svg,
  &:focus span {
    color: var(--accent_color);
    fill: var(--accent_color);
  }
}
