/* ------HEADER-------- */
.header {
  background: var(--primary-white-color);
  border: 1px solid #ececec;
}

header .container {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  @include respond-min("phone") {
    width: 480px;
  }
  @include respond-min("tablets") {
      padding-top: 0px;
  padding-bottom: 0px;
width: 768px;
  }
  @include respond-min("pc") {
width: 1200px;
  }
}

.header__logo {
  // padding: 16px 0;
  @include respond-min("phone") {
  }
  @include respond-min("tablets") {
    // padding: 26px 0;
    margin-right: 87px;
  }
  @include respond-min("pc") {
    // padding: 24px 0;
    margin-right: 92px;
  }
}

.header__nav {
  & li {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
  display: none;
  @include respond-min("phone") {
  }
  @include respond-min("tablets") {
    display: flex;
  }
  @include respond-min("pc") {
    margin-right: 225px;
  }
}

.header__auth-nav {
  display: none;
  margin: 21px 0;
  @include respond-min("phone") {
  }
  @include respond-min("tablets") {
    @include font(12, 500, 14, 0.02);
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }
  @include respond-min("pc") {
     @include font(14, 500, 16, 0.02);
    flex-direction: row;
    gap: 30px;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  height: 10px;
  width: 12px;
  &--size {
    height: 16px;
    width: 12px;
  }
}

.header__link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover,
  &:focus {
    color: var(--accent_color);
  }
}
.auth-nav__items:nth-child(1) {
  margin-bottom: 10px;
}

.auth-nav__link {
  color: var(--primary_text-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover,
  &:focus {
    color: var(--accent_color);
    fill: var(--accent_color);
  }
}
.auth-nav {
  align-items: baseline;
}
.header-auth-items svg,
.header-auth-items span {
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover svg,
  &:focus span {
    color: var(--accent_color);
    fill: var(--accent_color);
  }
}
