/* ------OUR TEAM-------- */
.our-team {
  background: var(--secondary-bg-color);
  padding: 94px 0;
}

.our-team__title {
  margin-bottom: 50px;
}

.our-team .our-team__list {
  display: flex;
  gap: 30px;
}

.our-team__items {
  background: var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.our-team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 10px;
}

.our-team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary_text-color);
}

.soc-list descr {
  padding-top: 30px;
  padding-bottom: 30px;
}
.soc-list__icons {
  fill: var(--secondary-grey-bg-color);
}

.our-team__list {
  display: flex;
  justify-content: center;
  & .descr {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.our-team__soc-link .our-team__soc-icons {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover .our-team-soc-icons,
  &:focus .our-team-soc-icons {
    fill: var(--primary-white-color);
  }
}
