/* ------OUR WORK-------- */
.our-work {
  padding-bottom: 94px;
  display: none;
  @include respond-min("pc") {
    display: block;
  }
}

.our-work__title {
  margin-bottom: 50px;
}

.our-work .our-work__list {
  display: flex;
  gap: 30px;
}

.our-work__ites-wraper {
  position: relative;
}

.our-work__items-label {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  top: 100%;
  transform: translateY(-100%);
}
