/* ------ PROJECT -------- */
.project {
  display: flex;
  flex-wrap: wrap;
}

.project__items {
  border: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary_text-color);
}

.project__descr {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-left: 24px;
}

.project__items:hover .project__item-text {
  transform: translateY(0);
}

.project__img-wrap {
  position: relative;
  overflow: hidden;
}

.project__item-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: var(--accent_color);
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.7em;
    border-radius: 0.35em;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary_text-color);
    border-radius: 0.35em;
  }
}
