/* ------ PROPERTY -------- */
.property {
  padding: 94px 0;
}

.container .property__list {
  display: flex;
}

.property__items {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  &::before {
    display: block;
    content: "";
    height: 120px;
    background: var(--secondary-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
  }
  &.property-icons1::before {
    background-image: url("../images/antenna.svg");
    @extend %icons-pozition;
  }

  &.property-icons2::before {
    background-image: url("../images/clock.svg");
    @extend %icons-pozition;
  }

  &.property-icons3::before {
    background-image: url("../images/diagram.svg");
    @extend %icons-pozition;
  }

  &.property-icons4::before {
    background-image: url("../images/astronaut.svg");
    @extend %icons-pozition;
  }
}

.property__pre-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.property__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary_text-color);
}
